<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>servlets.Login</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Registrar</servlet-name>
        <servlet-class>servlets.Registrar</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginAdmin</servlet-name>
        <servlet-class>servlets.LoginAdmin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Mensajes</servlet-name>
        <servlet-class>servlets.Mensajes</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ReservarCubiculo</servlet-name>
        <servlet-class>servlets.ReservarCubiculo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ReservarPc</servlet-name>
        <servlet-class>servlets.ReservarPc</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Registrar</servlet-name>
        <url-pattern>/registrar</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginAdmin</servlet-name>
        <url-pattern>/admin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Mensajes</servlet-name>
        <url-pattern>/mensajes</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ReservarCubiculo</servlet-name>
        <url-pattern>/ReservarCubiculo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ReservarPc</servlet-name>
        <url-pattern>/ReservarPc</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
